<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}" />
</head>
<body>
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="alert alert-danger" role="alert">
				<h2>Sorry. 이미 존재하는 아이디입니다.</h2>
				<h2>다른 아이디를 입력해주세요.</h2>
				Click 회원가입 페이지 <a th:href="@{/register}">here</a>.
			</div>
		</div>
	</div>
</body>
</html>